header{

position: absolute;
width: 2000px;
height: 200px;
left: 0px;
top: 0px;
background: #FF98CB;

}

#contato{
position: absolute;
width: 159px;
height: 63px;
left: 1750px;
top: 100px;
font-family: 'Kodchasan';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 46px;
color: #000000;

}
#inicio{
position: absolute;
width: 400px;
height: 46px;
left: 1510px;
top: 100px;
font-family: 'Kodchasan';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 46px;
color: #000000;

}

h1{

  position: absolute;
  width: 441px;
  height: 117px;
  left: 260px;
  top: 60px;
  font-family: 'Kodchasan';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #000000;

}

img{

  position: absolute;
  width: 192px;
  height: 175px;
  left: 34px;
  top: 15px;
  background: url(borboleta.png);
  border-radius: 99px;
}
